In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
Data = pd.read_csv("Training_set2.csv")

In [7]:
Data_nums = Data.select_dtypes(include=[np.number])

In [8]:
Data_cat = Data.select_dtypes(include=[object])

In [39]:
print(Data_cat)

         Sex       Diet        Country      Continent           Hemisphere
0       Male  Unhealthy    South Korea           Asia  Northern Hemisphere
1       Male  Unhealthy         Brazil  South America  Southern Hemisphere
2       Male    Average    New Zealand      Australia  Southern Hemisphere
3       Male  Unhealthy   South Africa         Africa  Southern Hemisphere
4     Female  Unhealthy       Colombia  South America  Northern Hemisphere
...      ...        ...            ...            ...                  ...
6996  Female    Average      Argentina  South America  Southern Hemisphere
6997    Male    Healthy        Germany         Europe  Northern Hemisphere
6998    Male    Average         Brazil  South America  Southern Hemisphere
6999  Female    Healthy    New Zealand      Australia  Southern Hemisphere
7000    Male  Unhealthy  United States  North America  Northern Hemisphere

[7001 rows x 5 columns]

In [9]:
standard_scaler = StandardScaler()
x = standard_scaler.fit_transform(Data_nums)

In [10]:
print(type(x))

<class 'numpy.ndarray'>

In [11]:
print(x.shape)

(7001, 20)

In [12]:
Data2_nums = pd.DataFrame(x, columns=Data_nums.columns, index=Data_nums.index)

Handling THe Categorical Data

In [14]:
cat_encoder = OneHotEncoder()
y = cat_encoder.fit_transform(Data_cat)

In [15]:
y= y.toarray()

In [16]:
print(y.shape)

(7001, 33)

In [17]:
print(type(y))

<class 'numpy.ndarray'>

In [18]:
z = np.concatenate((x, y), axis=1)

In [19]:
print(z.shape)

(7001, 53)

In [20]:
print(z[0])

[ 0.39089548 -0.72710088 -0.67203344  0.73049669 -0.98652134  0.33383568
 -0.99757472  0.81664237  0.31062569  1.00587356 -0.99501315  0.18301681
 -1.11202623  1.17454142 -0.74608456 -0.52420597  1.09180979  0.50207408
  1.03235903  1.42048086  0.          1.          0.          0.
  1.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          1.          0.          0.
  0.          0.          0.          0.          1.          0.
  0.          0.          0.          1.          0.        ]